.titlebar {
    display: flex;
    width: 100%;
    height:  80px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-size: 20px;
    background-color: #ADC5CF;  
}
.titlebar ul {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    text-rendering: none;
    list-style-type:none;
    margin-right: 360px;
    
}
.titlebar ul li {
    font-family: sans-serif;
    margin: 20px;
    
}

.titlebar ul li:hover{
    color:blue;
}
a,u{
    text-decoration: none;
    
}

/* Body script */
.main{
    display: flex;
    justify-content: space-evenly;
}
.awards1{
    width: 65%;
    margin-left: 20px;
}

.awards2{
    width: 35%;
}

.heading{
    color: #5569dc;
    margin-bottom: 40px;
    width: 100%;
}
.award{
    font-size: 40px;
    font-family: cursive;
    height: 15px;
}
.WIS{
    font-size: 15px;
}
.awardcolumn{
    height: 300px;
    width: 30vw;
    color: #5b5f7b;
}
.footer{
    display: flex;
    margin: 20px;
    width: 100vw; 
    align-items: center;
    justify-content: space-evenly;
    background-color: #eff0fb;
    height: 300px;
}
.right{
    color: black;
    margin-left:30px ;
    font-family: cursive;
    font-size: 30px;
    margin-right: 120px;
}
.left{
    color: #1c2349;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: cursive;
    justify-content: center;
    

    
}
.left ul {
    margin-left: 10px;
    list-style-type: none;
    display: flex;
    margin: 5px;
    justify-content: space-evenly;
    
    

}
.btn{
    background-color: #5569dc;
    color: white;
    height: 40px;
    width: 100px;
} 


.parent{
    display: flex;
    width:70%
}
.IDL{
    height: 10px;

}
.emid{
    height: 10px;
    font-size: 30px;
}
.phno{
    font-size: 20px;
}
